/* Common */
*, *::before, *::after {
  /* box-sizing: inherit; */
}

html {
  /* box-sizing: border-box; */
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

p {
  margin-top: 20px;
  margin-bottom: 24px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;

  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  overflow: hidden !important;
}

.button {
  display: inline-block;
  padding: 10px 45px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
  border-radius: 2px;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button-wide {
  border-radius: 5px/2px;
}

.button-full {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.button-light {
  color: #000000;
  background-color: #ffffff;
}

.button-light:hover,
.button-light:focus {
  color: #ee3643;
  background-color: #ffffff;
}

.button-light:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

/* Main-header */
.main-header,
.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
}

.main-header {
  padding-bottom: 60px;
  margin-bottom: 59px;

  background-color: #f3f7f9;
}

.inner-page .main-header {
  margin-bottom: 20px;
}

.main-header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-header-logo {
  width: 220px;
  padding-top: 11px;
  padding-bottom: 12px;
  margin-bottom: -5px;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  /* border-bottom: 5px solid rgba(0, 0, 0, 0.24); */
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.search-box {
  width: 270px;
}

.search-form {
  position: relative;
}

.search-form .search-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  padding: 12px 15px 12px 50px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.search-form .search-input:hover {
  background-color: #212a3a;
}

.search-form .search-input:focus {
  color: #000000;

  background-color: #ffffff;
}

.search-form .search-input:-ms-input-placeholder {
  color: #ffffff;
}

.search-form .search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-form .search-input::-ms-input-placeholder {
  color: #ffffff;
}

.search-form .search-input::placeholder {
  color: #ffffff;
}

.search-form .search-submit {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;
  padding: 0;

  background-image: url("img/icon-search-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: none;

  opacity: 0.3;
}

.search-form .search-submit:hover,
.search-form .search-submit:focus {
  opacity: 1;
}

.search-form .search-submit:active {
  opacity: 0.5;
}

.search-input:focus + .search-submit {
  background-position: -17px 0;
  opacity: 1;
}

.main-header-top .link {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 150px;
  padding: 12px 17px;

  text-align: center;
  color: #ffffff;
}

.main-header-top .link:hover,
.main-header-top .link:focus {
  background-color: #212a3a;
}

.main-header-top .link:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.main-header-top .bookmark-link,
.main-header-top .cart-link {
  padding-left: 44px;
}

.main-header-top .bookmark-link::before,
.main-header-top .cart-link::before {
  content: "";

  position: absolute;

  background-repeat: no-repeat;
  background-position: 0% 0%;

  opacity: 0.3;
}

.main-header-top .bookmark-link::before {
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("img/icon-bookmark.png");
}

.main-header-top .cart-link::before {
  top: 12px;
  left: 15px;

  width: 15px;
  height: 15px;

  background-image: url("img/icon-cart.png");
}

.main-header-top .link:hover::before,
.main-header-top .link:focus::before {
  opacity: 1;
}

.main-header-top .link:active::before {
  opacity: 0.5;
}

.main-header-top .order-link {
  background-color: #63a63e;
}

.main-header-top .order-link:hover,
.main-header-top .order-link:focus {
  background-color: #5fbb2d;
}

.main-header-top .order-link:active {
  color: rgba(255, 255, 255, 0.51);

  background-color: #518534;
}

.main-header-top .link-full {
  background-color: #ee3643;
}

.main-header-top .link-full:hover,
.main-header-top .link-full:focus {
  background-color: #ca2c37;
}

.main-header-top .link-full:active {
  background-color: #ba2732;
}

.main-header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-top: 46px;
  margin-bottom: 46px;
}

.site-description {
  width: 200px;
  padding: 0 50px;
  margin: 0;
  /* margin-top: 50px; */
  margin-right: 20px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  width: 300px;
  margin: 0;
  /* margin-top: 46px; */
  margin-right: 20px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.phone-call {
  position: relative;

  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 42px;
  padding-left: 71px;
  margin-bottom: 5px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.phone-call::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.user-navigation {
  width: 300px;
}

.login-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  padding: 0;
  margin: 0;

  font-size: 21px;
  line-height: 21px;

  list-style: none;
}

.login-menu > li {
  margin-right: 10px;
}

.login-menu > li:nth-last-of-type(1) {
  margin-right: 0;
}

.login-menu  a {
  display: block;
  padding: 12px 25px;

  color: #000000;

  background-color: #ffffff;
}

.login-menu a:hover,
.login-menu a:focus {
  color: #ee3643;
}

.login-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-menu .login-link {
  position: relative;

  padding-left: 47px;
}

.login-menu .login-link::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("img/icon-login-sprite.png");
  background-repeat: no-repeat;
  background-position: -20px 0%;
}

.login-menu .login-link:hover::before,
.login-menu .login-link:focus::before {
  background-position: 0% 0%;
}

.login-menu .login-link:active::before {
  background-position: -20px 0%;
}

.login-menu .profile-link-item {
  margin-right: 0;
}

.login-menu .profile-link {
  position: relative;
  padding-left: 47px;
}

.login-menu .profile-link::before {
  content: "";

  position: absolute;
  left: 13px;
  top: 13px;

  width: 20px;
  height: 18px;

  background-image: url("img/icon-user.png");
  background-repeat: no-repeat;
  background-position: -20px 0;
}

.login-menu .profile-link:hover,
.login-menu .profile-link:focus {
  color: #000000;
}

.login-menu .profile-link:hover::before,
.login-menu .profile-link:focus::before {
  background-position: 0 0;
}

.login-menu .profile-link:active::before {
  background-position: -20px 0;
}

.login-menu .logout-link {
  position: relative;

  width: 40px;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;

  text-indent: -1000px;
}

.login-menu .logout-link::before {
  content: "";

  position: absolute;
  left: 10px;
  top: 14px;

  width: 21px;
  height: 17px;

  background-image: url("img/icon-logout.png");
  background-repeat: no-repeat;
  background-position: -21px 0;
}

.login-menu .logout-link:hover::before,
.login-menu .logout-link:focus::before {
  background-position: 0 0;
}

.login-menu .logout-link:active::before {
  background-position: -21px 0;
}

.account-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 0;
  margin: 0;
  margin-top: 8px;
  margin-left: 17px;

  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;

  list-style: none;
}

.account-menu a {
  color: inherit;
}

.account-menu a:hover,
.account-menu a:focus {
  color: #ee3643;
}

.account-menu a:active {
  color: rgba(50, 66, 92, 0.3);
}

.account-menu > li {
  position: relative;

  margin-right: 32px;
}

.account-menu > li:last-child {
  margin-right: 0;
}

.account-menu > li::before {
  content: "";

  position: absolute;
  right: -19px;
  top: 50%;
  margin-top: -2px;

  width: 4px;
  height: 5px;

  background-color: #32425c;
  border-radius: 50%;
}

.account-menu > li:last-child::before {
  content: none;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  -webkit-box-shadow: inset 0 -5px #293449;
          box-shadow: inset 0 -5px #293449;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.site-navigation > li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-navigation a {
  display: block;
  padding: 21px 30px;

  color: #ffffff;
}

.main-navigation .current-menu-item,
.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

/* Promo */
.promo {
  position: relative;

  min-height: 429px;
  margin-bottom: 20px;

  font-family: "Cuprum", Arial, sans-serif;
}

.promo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}

.promo-list .promo-item {
  position: relative;
  width: 150px;
  min-height: 101px;
  padding-right: 150px;
  padding-top: 22px;
  margin-bottom: 20px;

  background-color: #ffbf47;
}

/* .promo-list .promo-item:nth-of-type(4),
.promo-list .promo-item:nth-of-type(5) {
  margin-left: 640px;
} */

.promo-list .promo-item:nth-of-type(n+4):nth-last-of-type(1),
.promo-list .promo-item:nth-of-type(n+4):nth-last-of-type(2) {
  margin-left: 640px;
}

.promo-list .promo-item:nth-of-type(4n + 2) {
  background-color: #3bbce3;
}

.promo-list .promo-item:nth-of-type(4n + 3) {
  background-color: #dc91d8;
}

.promo-list .promo-item:nth-of-type(4n + 4) {
  background-color: #8ed78f;
}

.promo-item::before {
  content: "";

  position: absolute;
  right: 0;
  top: 0;

  width: 140px;
  height: 120px;

  background-image: url("img/promo-icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.promo-type-tool::before {
  background-image: url("img/promo-icon-2.svg");
}

.promo-type-tech::before {
  background-image: url("img/promo-icon-3.svg");
}

.promo-type-discount::before {
  background-image: url("img/promo-icon-4.svg");
}

.promo-type-delivery::before {
  background-image: url("img/promo-icon-5.svg");
}

.label-new::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  background-image: url("img/badge-new.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}


.promo-item h3 {
  margin: 0;
  margin-left: 23px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-button {
  display: inline-block;
  width: 115px;
  padding: 10px;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.promo-button:hover,
.promo-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-item .promo-button {
  margin-left: 25px;
  margin-bottom: 22px;
}

.promo-slider {
  position: absolute;
  left: 0;
  top: 143px;

  width: 620px;
  height: 266px;
}

.promo-slider-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.promo-slider-item {
  display: none;
}

.promo-slider-item-active {
  display: block;
}

.slide-header {
  position: absolute;
  top: 0;
  left: 0;

  padding-left: 24px;
  padding-top: 22px;
}

.slide-header p {
  padding: 0;
  margin: 0;
}

.promo-slider-item .button {
  position: absolute;
  left: 25px;
  bottom: 22px;
}

.promo-slider-item h3 {
  margin: 0;
  margin-bottom: 3px;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.slide-header p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.promo-slider-btn {
  position: absolute;
  top: 114px;
  z-index: 2;

  width: 22px;
  height: 40px;
  overflow: hidden;

  text-indent: 50px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  border: none;

  cursor: pointer;
}

.promo-slider-prev {
  left: 25px;

  background-image: url("img/icon-left.svg");
}

.promo-slider-next {
  right: 20px;

  background-image: url("img/icon-right.svg");
}

.promo-slider-dots {
  position: absolute;
  top: 220px;
  left: 230px;
  z-index: 2;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.promo-slider-dots li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.promo-slider-dots li:nth-last-of-type(1) {
  margin-right: 0;
}

.dot-btn {
  display: block;
  width: 6px;
  height: 6px;
  padding: 0;
  overflow: hidden;

  text-indent: 20px;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.dot-btn-active {
  background-color: #ee3643;
}

.page-title {
  padding: 29px 30px 30px;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.title {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.block-header .title {
  padding: 30px;
  margin: 0;

  color: #32425c;
}

.block-header .button {
  width: 233px;
  padding: 10px;
  margin: 25px 24px 25px 0;
}

.popular-products {
  margin-bottom: 21px;
}

.popular-products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-card {
  position: relative;

  width: 218px;
  padding-bottom: 20px;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.catalog-list .product-card {
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-list .product-card:nth-of-type(3n) {
  margin-right: 0;
}

.product-card:hover,
.product-card:focus {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  border-color: transparent;
}

.product-card.label-new {
  top: -1px;
  right: -1px;
}

.product-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 218px;
  height: 164px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.product-title {
  padding: 0 30px;
  margin: 0;
  margin-bottom: 10px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.product-price {
  position: relative;

  padding: 0;
  padding-top: 28px;
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}

.product-price del {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;

  color: #a9a9a9;
  text-align: center;

  cursor: pointer;
}

.product-price b {
  position: relative;

  display: block;
  width: 101px;
  height: 38px;
  /* padding: 10px 20px; */
  padding: 0 20px;
  margin: 0 auto;

  font-weight: inherit;
  line-height: 38px;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 2px 0 0 2px;

  cursor: pointer;
}

.product-price b::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  border-left: 19px solid transparent;
  border-top: 19px solid #ffffff;
  border-bottom: 19px solid #ffffff;
}

.product-actions {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 218px;
  height: 164px;
  padding: 0;
  margin: 0;

  visibility: hidden;
}

.product-card:hover .product-image,
.product-card:focus .product-image {
  visibility: hidden;
}

.product-card:hover .product-actions,
.product-card:focus .product-actions {
  visibility: visible;
}

.product-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 135px;
  padding: 7px;
  margin-bottom: 7px;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #32425c;

  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 3px solid #63a63e;
  border-radius: 2px;
}

.product-button:nth-of-type(1) {
  margin-top: 7px;
}

.product-button:nth-last-of-type(1) {
  margin-bottom: 0;
}

.product-button:hover,
.proudct-button:focus {
  border-color: #32425c;
}

.product-button:active {
  opacity: 0.3;
}

.product-button-buy {
  position: relative;

  padding: 10px 30px;

  color: #ffffff;
  background-color: #63a63e;
  -webkit-box-shadow: inset 0 -3px #367315;
          box-shadow: inset 0 -3px #367315;
  border: none;
}

.product-button-buy::before {
  content: "";

  position: absolute;
  left: 12px;
  top: 10px;

  width: 15px;
  height: 15px;

  background-image: url("img/cart-icon.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;

  opacity: 0.3;
}

.product-button-buy:hover,
.product-button-buy:focus {
  background-color: #5fbb2d;
}

.product-button-buy:hover::before {
  opacity: 1;
}

.product-button-buy:active {
  background-color: #518534;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 1;
}

.popular-brands {
  margin-bottom: 85px;
}

.popular-brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.popular-brands-list > li {
  width: 220px;
  min-height: 130px;
  margin-bottom: 20px;
}

.brand-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brand-item:hover,
.brand-item:focus {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  border: none;
}

.brand-item:active {
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.brand-item:active img {
  opacity: 0.3;
}

.services {
  padding-top: 64px;
  margin-bottom: 78px;

  background: #f4f8f9 url("img/services-bg.jpg") repeat 0 0;
}

.services-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services-blocks {
  position: relative;

  width: 620px;
  padding-top: 45px;
}

.services-menu {
  position: relative;

  width: 240px;
  padding: 0;
  padding-top: 49px;
  padding-bottom: 48px;
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;

  list-style: none;
}

.services-menu::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 10px;
  height: 100%;

  background-image: url("img/services-menu-shadow.png");
  background-repeat: repeat-y;
  background-position: 0% 0%;
}

.services-menu a {
  display: block;
  padding: 16px 23px 15px 20px;

  color: #ffffff;

  background-color: #32425c;
  -webkit-box-shadow:
    inset 0 -1px #405069,
    0 1px #293449;
          box-shadow:
    inset 0 -1px #405069,
    0 1px #293449;
}

.services-menu a:hover,
.services-menu a:focus {
  background-color: #293449;
}

.services-menu .link-active,
.services-menu .link-active:hover,
.services-menu .link-active:focus,
.services-menu a:active {
  color: #32425c;
  background-color: #ffffff;
  -webkit-box-shadow:
    inset 0 -1px #ffffff,
    0 1px #ffffff;
          box-shadow:
    inset 0 -1px #ffffff,
    0 1px #ffffff;
}

.service-item {
  position: absolute;

  min-height: 287px;
  padding-right: 230px;
  visibility: hidden;

  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.service-visible {
  position: static;

  visibility: visible;
}

.service-delivery {
  background-image: url("img/service-delivery.png");
}

.service-guarantee {
  background-image: url("img/service-guarantee.png");
}

.service-credit {
  background-image: url("img/service-credit.png");
}

.service-item h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index-columns-1 {
  width: 540px;
}

.index-columns-2 {
  width: 300px;
}

.about-us ul {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.about-us li {
  position: relative;

  padding-left: 36px;
  margin-bottom: 20px;
}

.about-us li::before {
  content: "";

  position: absolute;
  left: 0;
  top: 9px;

  width: 25px;
  height: 0;
  border-bottom: 2px solid #ee3643;
}

.map-link {
  display: block;
  margin-top: 34px;
  margin-bottom: 40px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 0;
  margin: 0;
  margin-bottom: 19px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  list-style: none;
}

.breadcrumbs > li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs > li:last-child {
  margin-right: 0;
}

.breadcrumbs > li::before {
  content: "";

  position: absolute;
  right: -24px;
  top: 2px;

  width: 8px;
  height: 12px;

  background-image: url("img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs > li:last-child::before {
  content: none;
}

.breadcrumbs a {
  color: inherit;
}

.breadcrumbs .breadcrumbs-home  {
  margin-right: 30px;
}

.breadcrumbs .breadcrumbs-home::before {
  right: -14px;
}

.breadcrumbs-home a {
  position: relative;

  display: block;
  width: 25px;
  overflow: hidden;

  text-indent: -1000px;
}

.breadcrumbs-home a::before {
  content: "";

  position: absolute;
  left: 0;
  top: 3px;

  width: 15px;
  height: 12px;

  background-image: url("img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 60px;
}

.catalog-col-1 {
  width: 220px;
}

.catalog-col-2 {
  width: 700px;
}

.filters {
  text-transform: uppercase;
}

.filters h2 {
  padding: 10px 18px;
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;

  background-color: #f7f3ec;
  border-radius: 2px;
}

.filters legend {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;

  border: none;
}

.filters fieldset {
  padding: 0;
  padding-bottom: 21px;
  margin: 0;
  margin-bottom: 21px;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filters fieldset:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.filter-range-slider {
  width: 220px;
  padding: 39px 0;
  margin-bottom: 9px;

  background-color: #f7f3ec;
  border-radius: 4px;
}

.filter-range-bar {
  position: relative;

  width: 180px;
  height: 2px;
  margin: 0 auto;

  background-color: #d7dcde;
}

.filter-range-fill {
  position: absolute;
  width: 152px;
  height: 2px;

  background-color: #00ca74;
}

.filter-range-handle {
  position: absolute;
  top: -9px;
  left: 0;

  width: 20px;
  height: 23px;

  background-image: url("img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-range-max {
  left: 140px;
}

.range-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4px;

  font-size: 17px;
  line-height: 18px;
}

.range-input-container::before {
  content: "—";

  -webkit-box-ordinal-group: 2;

      -ms-flex-order: 1;

          order: 1;

  padding: 10px 0;
}

.range-input-min,
.range-input-max {
  width: 95px;
}

.range-input-max {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.range-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px;

  text-align: center;

  background-color: #f7f3ec;
  border: none;
  border-radius: 2px;
}

.filters .filter-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-option {
  margin-bottom: 17px;
}

.filter-option:last-of-type {
  margin-bottom: 0;
}

.filter-checkbox,
.filter-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  color: #000000;

  cursor: pointer;
}

.filter-checkbox .filter-input-checkbox,
.filter-radio .filter-input-radio {
  position: absolute;
  left: -10000px;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  border: none;
}

.checkbox-indicator,
.radio-indicator {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.checkbox-indicator {
  width: 27px;
  height: 23px;
  margin-right: 9px;

  background-image: url("img/checkbox-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -23px;
}

.filter-input-checkbox:hover + .checkbox-indicator,
.filter-input-checkbox:focus + .checkbox-indicator {
  background-position: -27px -23px;
}

.filter-input-checkbox:disabled + .checkbox-indicator {
  background-position: -54px -23px;
}

.filter-input-checkbox:disabled ~ .label-text,
.filter-input-radio:disabled ~ .label-text {
  color: rgba(0, 0, 0, 0.4);
}

.filter-input-checkbox:disabled ~ * {
  cursor: default;
}

.filter-input-checkbox:checked + .checkbox-indicator {
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover + .checkbox-indicator {
  background-position: -27px 0;
}

.filter-input-checkbox:checked:disabled + .checkbox-indicator {
  background-position: -54px 0;
}

.radio-indicator {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin-right: 9px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:hover .radio-indicator,
.filter-input-radio:focus .radio-indicator {
  border-color: #b5b5b5;
}

.filter-input-radio:disabled .radio-indicator {
  border-color: #b5b5b5;
  opacity: 0.3;
}

.filter-input-radio:checked + .radio-indicator::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked:hover + .radio-indicator::before,
.filter-input-radio:checked:focus + .radio-indicator::before {
  background-color: #b5b5b5;
}

.filter-input-radio:checked:disabled + .radio-indicator::before {
  background-color: #b5b5b5;
  opacity: 0.3;
}
.filters label {
  font-size: 15px;
  line-height: 20px;
}

.filter-input:disabled + label {
  opacity: 0.4;
}

.filter-input-radio {
  /* color: #c5c5c5; */
  border-width: 4px;
  border-color: #c5c5c5;
}

.filter-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  min-width: 140px;
  padding: 9px;
  margin: 0;
  margin-top: 75px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 52px;

  list-style: none;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 2px;
}

.sort h2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  padding: 0 19px;
  margin: 0;
  /* font-weight: 400;
  font-size: 13px;
  line-height: 18px; */
  font: inherit;
}

.sort-type-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 380px;
  padding: 0;
  padding-right: 26px;
  margin: 0;

  list-style: none;
}

.sort-direction-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
  padding: 0 17px;
  margin: 0;

  list-style: none;
}

.sort-type-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-type-list a:hover,
.sort-type-list a:focus {
  color: #000000;
  border-bottom-style: solid;
}

.sort-type-list .sort-type-active,
.sort-type-list .sort-type-active:hover,
.sort-type-list .sort-type-active:focus {
  color: #ee3643;
  border: none;
}

.sort-direction-list a {
  position: relative;

  display: block;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;

  color: transparent;
  text-indent: -1000px;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.sort-direction-list .sort-direction-up {
  border-bottom: 10px solid #c5c5c5;
  border-top: none;
}

.sort-direction-list .sort-direction-up:hover {
  border-bottom-color: #231f20;
}

.sort-direction-list .sort-direction-up.sort-direction-active {
  border-bottom-color: #ee3643;
}

.sort-direction-list .sort-direction-down {
  border-top: 10px solid #c5c5c5;
  border-bottom: none;
}

.sort-direction-list .sort-direction-down:hover {
  border-top-color: #231f20;
}

.sort-direction-list .sort-direction-down.sort-direction-active {
  border-top-color: #ee3643;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  list-style: none;
}

.pagination-item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.pagination-item:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}

.pagination-item a {
  display: block;
  padding: 9px 14px 9px 15px;

  text-align: center;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-next a {
  padding-left: 30px;
  padding-right: 30px;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.catalog-category {
  padding-top: 64px;
  padding-bottom: 42px;

  background-color: #f2f6f8;
}

.about-wrapper {
  margin-bottom: 86px;
}

/* Main footer */
.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;

  background-color: #32425c;
}

.main-footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

.footer-top-col-1 {
  width: 380px;
}

.footer-top-col-2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 38px;
}

.main-footer-logo {
  display: inline-block;
  padding: 19px 41px;
  margin-bottom: 28px;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
          box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.footer-contacts {
  margin: 0;
}

.footer-site-links,
.footer-promo-links,
.footer-social {
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-site-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 33px;
}

.footer-promo-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-promo-links > li {
  margin-right: 60px;
}

.footer-promo-links > li:nth-last-of-type(1) {
  margin-right: 0;
}

.footer-site-links a {
  color: #f1f5f7;
}

.footer-promo-links a {
  color: #ffd180;
}

.footer-site-links a:hover,
.footer-site-links a:focus,
.footer-promo-links a:hover,
.footer-promo-links a:focus {
  text-decoration: underline;
}

.footer-site-links a:active,
.footer-promo-links a:active {
  text-decoration: none;
  opacity: 0.5;
}

.main-footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 0 30px 0;
}

.main-footer-bottom a {
  color: #ffd180;
}

.main-footer-bottom a:hover,
.main-footer-bottom a:focus {
  text-decoration: underline;
}

.main-footer-bottom a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-copyright {
  width: 300px;
  margin: 0;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 320px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social .social-button {
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;

  text-indent: 100px;
  color: #ffffff;

  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

.footer-social > li {
  margin-right: 5px;
}

.footer-social > li:nth-last-of-type(1) {
  margin-right: 0;
}

.footer-social .social-vk {
  background-image: url("img/vk-icon.svg");
}

.footer-social .social-fb {
  background-image: url("img/fb-icon.svg");
}

.footer-social .social-insta {
  background-image: url("img/insta-icon.svg");
}

.footer-social .social-button:hover,
.footer-social .social-button:focus {
  text-decoration: none;
  background-color: #ee3643;
}

.footer-social .social-button:active {
  color: #ffffff;
}

.footer-feedback {
  width: 160px;
  padding: 0;
  padding-left: 20px;
  margin: 0;
}

.developed {
  width: 110px;
  padding: 0;
  padding-left: 30px;
  margin: 0;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  display: none;
  width: 620px;
  max-height: 100%;
  margin-left: -310px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ff5257;
}

.modal-content {
  padding: 47px 80px 0;
}

.modal-footer {
  padding: 37px 80px;

  background-color: #f4f4f4;
}

.modal-close {
  position: absolute;
  top: 6px;
  right: 6px;

  width: 27px;
  height: 27px;
  padding: 0;
  margin: 0;
  overflow: hidden;

  color: transparent;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  left: 0;
  top: 11px;

  width: 27px;
  height: 5px;

  background-color: #ee3643;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal .form-item {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.modal-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal-col-1,
.modal-col-2 {
  width: 220px;
}

.modal label {
  display: block;
  margin-bottom: 8px;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.modal .form-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  padding: 8px 12px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.modal .form-input::-webkit-input-placeholder {
  color: #999999;
}

.modal .form-input:-ms-input-placeholder {
  color: #999999;
}

.modal .form-input::-ms-input-placeholder {
  color: #999999;
}

.modal .form-input::placeholder {
  color: #999999;
}

.modal .form-input:hover {
  border-color: #b5b5b5;
}

.modal .form-input:focus {
  border-color: #ee3643;
  outline: none;
}

.modal .form-textarea {
  width: 100%;
  min-height: 114px;

  resize: none;
}

.modal-map {
  width: 940px;
  margin-left: -470px;

  border-top: none;
  -webkit-box-shadow: 0px 0px 14px 2px rgba(47, 42, 43, 0.5);
          box-shadow: 0px 0px 14px 2px rgba(47, 42, 43, 0.5);
}

.modal-map p {
  margin: 0;
}

.modal-map img {
  display: block;
}

.modal-cart-add .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  text-transform: none;
}

.modal-cart-add .title::before {
  content: "";

  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 66px;
  height: 66px;
  margin-right: 32px;

  background-image: url("img/form-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-card-add .modal-content {
  padding-bottom: 49px;
}
