/* Common */
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

p {
  margin-top: 25px;
  margin-bottom: 25px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  top: -1px;

  width: 1px;
  height: 1px;
  margin: -1px;

  overflow: hidden;
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
  border-radius: 2px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button-wide {
  border-radius: 5px/2px;
}

.continue-shop-button {
  color: #000000;
  background-color: #ffffff;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

/* Main-header */
.main-header,
.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
}

.main-header {
  padding-bottom: 60px;
  margin-bottom: 59px;

  background-color: #f3f7f9;
}

.inner-page .main-header {
  margin-bottom: 20px;
}

.main-header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-header-top .container {
  display: flex;
}

.main-header-logo {
  width: 220px;
  padding-top: 11px;
  padding-bottom: 7px;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
  /* box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24); */
  border-bottom: 5px solid rgba(0, 0, 0, 0.24);
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.search-box {
  width: 270px;
}

.search-form .search-input {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.search-form .search-input:hover {
  background-color: #212a3a;
}

.search-form .search-input:focus {
  color: #000000;

  background-color: #ffffff;
}

.search-form .search-input:-ms-input-placeholder {
  color: #ffffff;
}

.search-form .search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-form .search-input::placeholder {
  color: #ffffff;
}

.main-header-top .link {
  width: 150px;

  text-align: center;
  color: #ffffff;
}

.main-header-top .link:hover,
.main-header-top .link:focus {
  background-color: #212a3a;
}

.main-header-top .link:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.main-header-top .order-link {
  background-color: #63a63e;
}

.main-header-top .order-link:hover,
.main-header-top .order-link:focus {
  background-color: #5fbb2d;
}

.main-header-top .order-link:active {
  color: rgba(255, 255, 255, 0.51);

  background-color: #518534;
}

.main-header-top .link-full {
  background-color: #ee3643;
}

.main-header-top .link-full:hover,
.main-header-top .link-full:focus {
  background-color: #ca2c37;
}

.main-header-top .link-full:active {
  background-color: #ba2732;
}

.main-header-middle {
  display: flex;
}

.site-description {
  width: 200px;
  padding: 0 50px;
  margin-right: 20px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  width: 300px;
  margin-right: 20px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.phone-call {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.user-navigation {
  width: 300px;
}

.login-menu {
  padding: 0;
  margin: 0;

  list-style: none;
  font-size: 21px;
  line-height: 21px;
}

.login-menu  a {
  color: #000000;

  background-color: #ffffff;
}

.login-menu a:hover,
.login-menu a:focus {
  color: #ee3643;
}

.login-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-menu .profile-link:hover,
.login-menu .profile-link:focus {
  color: #000000;
}

.account-menu {
  padding: 0;
  margin: 0;

  list-style: none;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.account-menu a {
  color: inherit;
}

.account-menu a:hover,
.account-menu a:focus {
  color: #ee3643;
}

.account-menu a:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0 -5px #293449;
}

.site-navigation {
  padding: 0;
  margin: 0;

  list-style: none;
}

.main-navigation a {
  color: #ffffff;
}

.main-navigation .current-menu-item,
.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

/* Promo */
.promo {
  font-family: "Cuprum", Arial, sans-serif;
}

.promo-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.promo-item {
  width: 300px;

  background-color: #ffbf47;
}

.promo-item:nth-child(4n + 2) {
  background-color: #3bbce3;
}

.promo-item:nth-child(4n + 3) {
  background-color: #dc91d8;
}

.promo-item:nth-child(4n + 4) {
  background-color: #8ed78f;
}

.promo-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-button {
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-button:hover,
.promo-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-slider-list {
  list-style: none;
}

.promo-slider-item h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.slide-header p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.promo-slider-dots {
  list-style: none;
}

.dot-btn {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.dot-btn-active {
  background-color: #ee3643;
}

.page-title {
  padding: 29px 30px 30px;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.title {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.block-header .title {
  padding: 30px;
  margin: 0;

  color: #32425c;
}

.block-header .button {
  width: 233px;
  padding: 10px;
  margin: 25px 24px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 60px;
}

.catalog-wrapper {
  width: 700px;
}

.popular-products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 21px;
  padding: 0;

  list-style: none;
}

.product-card {
  width: 218px;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.catalog-list .product-card {
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-list .product-card:nth-child(3n) {
  margin-right: 0;
}

.product-card:hover,
.product-card:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  border-color: transparent;
}

.product-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.product-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}

.product-price del {
  color: #a9a9a9;
  cursor: pointer;
}

.product-price b {
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
}

.product-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #32425c;

  background-color: #ffffff;
  box-shadow: none;
  border: 3px solid #63a63e;
  border-radius: 2px;
}

.product-button:hover,
.proudct-button:focus {
  border-color: #32425c;
}

.product-button:active {
  opacity: 0.3;
}

.product-button-buy {
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0 -3px #367315;
  border: none;
}

.product-button-buy:hover,
.product-button-buy:focus {
  background-color: #5fbb2d;
}

.product-button-buy:active {
  background-color: #518534;
  box-shadow: none;
  opacity: 1;
}

.popular-brands {
  margin-bottom: 85px;
}

.popular-brands-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-brands-list > li {
  width: 220px;
  min-height: 130px;
  margin-bottom: 20px;
}

.brand-item {
  display: block;
  box-sizing: border-box;
  height: 100%;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.brand-item:hover,
.brand-item:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  border: none;
}

.brand-item:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.brand-item:active img {
  opacity: 0.3;
}

.services {
  padding-top: 64px;
  margin-bottom: 78px;

  background: #f4f8f9 url("img/services-bg.jpg") repeat 0 0;
}

.services-menu {
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.services-menu a {
  color: #ffffff;
  background-color: #32425c;
}

.services-menu a:hover,
.services-menu a:focus {
  background-color: #293449;
}

.services-menu .link-active,
.services-menu a:active {
  color: #32425c;
  background-color: #ffffff;
}

.service-item h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.index-columns-1 {
  width: 540px;
}

.index-columns-2 {
  width: 300px;
}

.about-us ul {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;

  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs a {
  color: inherit;
}

.filters {
  width: 220px;

  text-transform: uppercase;
}

.filters h2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;

  background-color: #f7f3ec;
}

.filters legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filters fieldset {
  border: none;
}

.filters ul {
  list-style: none;
}

.filter-range-slider {
  background-color: #f7f3ec;
}

.filter-input-range {
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  background-color: #f7f3ec;
  border: none;
}

.filters label {
  font-size: 15px;
  line-height: 20px;
}

.filter-input:disabled + label {
  opacity: 0.4;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 52px;

  list-style: none;
}

.sort {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 2px;
}

.sort h2 {
  font-weight: 400;
}

.sort-type-list,
.sort-direction-list {
  list-style: none;
}

.sort-type-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-type-list a:hover,
.sort-type-list a:focus {
  color: #000000;
  border-bottom-style: solid;
}

.sort-type-list .sort-type-active,
.sort-type-list .sort-type-active:hover,
.sort-type-list .sort-type-active:focus {
  color: #ee3643;
  border: none;
}

.pagination-list {
  padding: 0;
  margin: 0;

  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-item a {
  text-align: center;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.catalog-category {
  padding-top: 64px;
  padding-bottom: 42px;

  background-color: #f2f6f8;
}

.about-wrapper {
  margin-bottom: 86px;
}

/* Main footer */
.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;

  background-color: #32425c;
}

.main-footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-col-1 {
  width: 380px;
}

.footer-top-col-2 {
  flex-grow: 1;
}

.main-footer-logo {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.footer-site-links,
.footer-promo-links,
.footer-social {
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-site-links a {
  color: #f1f5f7;
}

.footer-promo-links a {
  color: #ffd180;
}

.footer-site-links a:hover,
.footer-site-links a:focus,
.footer-promo-links a:hover,
.footer-promo-links a:focus {
  text-decoration: underline;
}

.footer-site-links a:active,
.footer-promo-links a:active {
  text-decoration: none;
  opacity: 0.5;
}

.main-footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-footer-bottom .container {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
}

.main-footer-bottom a {
  color: #ffd180;
}

.main-footer-bottom a:hover,
.main-footer-bottom a:focus {
  text-decoration: underline;
}

.main-footer-bottom a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-copyright {
  width: 300px;
}

.footer-social {
  width: 320px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social .social-button {
  background-color: #212a3a;
  color: #ffffff;
}

.footer-social .social-button:hover,
.footer-social .social-button:focus {
  text-decoration: none;
  background-color: #ee3643;
}

.footer-social .social-button:active {
  color: #ffffff;
}

.footer-feedback {
  width: 180px;
  margin: 0;
  padding: 0;
}

.developed {
  width: 140px;
  margin: 0;
  padding: 0;
}

.modal-content {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ff5257;
}

.modal-footer {
  background-color: #f4f4f4;
}

.modal label {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.modal .form-input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.modal .form-textarea {
  resize: none;
}

.modal .form-input:-ms-input-placeholder {
  color: #a9a9a9;
}

.modal .form-input::-webkit-input-placeholder {
  color: #a9a9a9;
}

.modal .form-input::placeholder {
  color: #a9a9a9;
}

.modal-map {
  box-shadow: 0px 0px 14px 2px rgba(47, 42, 43, 0.5);
}
